#contenedor {
    display: flex;
    width: 100%;
}

.elemento {
    /*width: 150px;*/
    flex: 1;
    height: 150px;
}

#elemento1 {
    background-color: red;
}

#elemento2 {
    background-color: royalblue;
}

#elemento3 {
    background-color: green
}
